# Instalando dependências

In [195]:
%pip install -r dependencias/requirements.txt

Requirement already satisfied: streamlit==1.28.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from -r dependencias/requirements.txt (line 1)) (1.28.0)
Requirement already satisfied: pandas==2.1.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from -r dependencias/requirements.txt (line 2)) (2.1.0)
Requirement already satisfied: numpy==1.24.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from -r dependencias/requirements.txt (line 3)) (1.24.0)
Requirement already satisfied: mlxtend==0.22.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from -r dependencias/requirements.txt (line 4)) (0.22.0)
Requirement already satisfied: plotly==5.17.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from -r dependencias/requirements.txt (line 5)) (5.17.0)
Requirement already satisfied: altair<6,>=4.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (8.3.1)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (6.11.0)
Requirement already satisfied: packaging<24,>=16.8 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (23.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (10.4.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (4.25.8)
Requirement already satisfied: pyarrow>=6.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (22.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: requests<3,>=2.27 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (2.32.5)
Requirement already satisfied: rich<14,>=10.14.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (13.9.4)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (8.5.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (4.15.0)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (5.3.1)
Requirement already satisfied: validators<1,>=0.2 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (0.35.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (6.5.2)
Requirement already satisfied: watchdog>=2.1.5 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (6.0.0)
Requirement already satisfied: pytz>=2020.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from pandas==2.1.0->-r dependencias/requirements.txt (line 2)) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from pandas==2.1.0->-r dependencias/requirements.txt (line 2)) (2025.2)
Requirement already satisfied: scipy>=1.2.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (1.15.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (1.7.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (3.10.7)
Requirement already satisfied: joblib>=0.13.2 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (1.5.2)
Requirement already satisfied: setuptools in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (65.5.0)
Requirement already satisfied: jinja2 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (4.25.1)
Requirement already satisfied: narwhals>=1.14.2 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (2.12.0)
Requirement already satisfied: colorama in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from click<9,>=7.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (4.0.12)
Requirement already satisfied: zipp>=0.5 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (3.23.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (1.4.9)
Requirement already satisfied: pyparsing>=3 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (3.2.5)
Requirement already satisfied: six>=1.5 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from requests<3,>=2.27->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from requests<3,>=2.27->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from requests<3,>=2.27->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from requests<3,>=2.27->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (2025.11.12)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from rich<14,>=10.14.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from rich<14,>=10.14.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (2.19.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from scikit-learn>=1.0.2->mlxtend==0.22.0->-r dependencias/requirements.txt (line 4)) (3.6.0)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (3.0.3)
Requirement already satisfied: attrs>=22.2.0 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (25.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (0.37.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (0.29.0)
Requirement already satisfied: mdurl~=0.1 in c:\projetos_fiap\global_solution\.venv\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit==1.28.0->-r dependencias/requirements.txt (line 1)) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

# Importando bibliotecas

In [196]:
import pandas as pd
import numpy as np
import random

from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

# Coleta de dados

In [197]:
cestas = pd.read_csv("bases/cestas.csv")
clientes = pd.read_csv('bases/clientes.csv')
produtos = pd.read_csv('bases/produtos.csv')

# Produtos mais vendidos

In [198]:
faturamento_por_produto = cestas.groupby('item_id').agg({'price': 'sum'}).reset_index()
top3_faturamento = faturamento_por_produto.sort_values('price', ascending=False).head(3)
top3_faturamento['rec_source'] = 'top products'

In [199]:
top3_faturamento

    item_id       price    rec_source
62   item_2  7407614.61  top products
68  item_25  7225204.80  top products
76  item_32  5993105.58  top products

# Definição de funções

In [200]:
def prepare_data_apriori(df):

    transactions = df.groupby('basket_id')['item_id'].apply(list).tolist()
    
    encoder = TransactionEncoder()
    encoder_fitted = encoder.fit(transactions).transform(transactions)
    encoded_df = pd.DataFrame(encoder_fitted, columns = encoder.columns_)

    return encoded_df

In [201]:
def compute_association_rules(encoded_df, min_support=0.01, top=20):

    apriori_associations = apriori(
        encoded_df,
        min_support=min_support,
        use_colnames=True
    )

    if len(apriori_associations) == 0:
        return pd.DataFrame()

    rules = association_rules(
        apriori_associations,
        metric="lift",
        min_threshold=1
    )

    if len(rules) == 0:
        return pd.DataFrame()

    rules = rules.drop_duplicates(subset=['antecedents', 'consequents'])

    rules = rules.sort_values(
        by=["lift", "confidence", "support"],
        ascending=False
    ).head(top)

    # Salvar as regras do Apriori em um CSV
    rules.to_csv('regras_apriori.csv', index=False)
    print("Arquivo regras_apriori.csv gerado com sucesso.")
    return rules

In [202]:
def recommend_for_users(df_baskets, rules):

    df_baskets["timestamp"] = pd.to_datetime(df_baskets["timestamp"], errors="coerce")

    df_mes = df_baskets[
        (df_baskets["timestamp"].dt.year == 2025) &
        (df_baskets["timestamp"].dt.month == 12)
    ].copy()

    recomendacoes = []

    for user_id, group in df_mes.groupby("user_id"):

        itens_user = set(group["item_id"].unique())

        melhores_por_consequente = {}

        for _, rule in rules.iterrows():

            antecedent = set(rule["antecedents"])
            consequent = set(rule["consequents"])

            if not antecedent.issubset(itens_user):
                continue

            novos_itens = list(consequent - itens_user)

            if len(novos_itens) == 0:
                continue

            for item_rec in novos_itens:

                if item_rec in melhores_por_consequente:
                    if rule["lift"] > melhores_por_consequente[item_rec]["lift"]:
                        melhores_por_consequente[item_rec] = {
                            "user_id": user_id,
                            "antecedent": tuple(antecedent),
                            "consequent": item_rec,
                            "support": rule["support"],
                            "confidence": rule["confidence"],
                            "lift": rule["lift"]
                        }
                else:
                    melhores_por_consequente[item_rec] = {
                        "user_id": user_id,
                        "antecedent": tuple(antecedent),
                        "consequent": item_rec,
                        "support": rule["support"],
                        "confidence": rule["confidence"],
                        "lift": rule["lift"]
                    }

        recomendacoes.extend(melhores_por_consequente.values())

    df_rec = pd.DataFrame(recomendacoes)

    if len(df_rec) > 0:
        df_rec = df_rec.sort_values(
            by=["user_id", "lift", "confidence", "support"],
            ascending=[True, False, False, False]
        )

    return df_rec

In [203]:
def completar_recomendacoes(grupo):
    grupo = grupo.copy()

    recomendações_validas = grupo[grupo['rec'].notna()].head(3)
    n_validas = len(recomendações_validas)
    
    if n_validas >= 3:
        return recomendações_validas.head(3)

    linhas_necessarias = 3 - n_validas
    produtos_top = top3_faturamento.head(linhas_necessarias).copy()

    for _, produto in produtos_top.iterrows():
        nova_linha = pd.DataFrame({
            'user_id': [grupo['user_id'].iloc[0]],
            'rec': [produto['item_id']],
            'source_rec': ['top products']
        })
        recomendações_validas = pd.concat([recomendações_validas, nova_linha], ignore_index=True)
    
    return recomendações_validas

In [204]:
encoded_df_cestas = prepare_data_apriori(cestas)
rules = compute_association_rules(encoded_df_cestas, min_support=0.01, top=30)

Arquivo regras_apriori.csv gerado com sucesso.

In [205]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
50,"(item_1, item_2)",(item_5),0.1158,0.1256,0.0182,0.157168,1.251334,0.003656,1.037454,0.227158
55,(item_5),"(item_1, item_2)",0.1256,0.1158,0.0182,0.144904,1.251334,0.003656,1.034036,0.229704
52,"(item_2, item_5)",(item_1),0.0324,0.4708,0.0182,0.561728,1.193136,0.002946,1.207470,0.167293
53,(item_1),"(item_2, item_5)",0.4708,0.0324,0.0182,0.038658,1.193136,0.002946,1.006509,0.305882
51,"(item_1, item_5)",(item_2),0.0598,0.2558,0.0182,0.304348,1.189788,0.002903,1.069787,0.169660

In [206]:
recs = recommend_for_users(cestas, rules)

In [207]:
recs.head()

    user_id antecedent consequent  support  confidence      lift
0  user_101  (item_5,)     item_2   0.0182    0.144904  1.251334
1  user_101  (item_1,)    item_25   0.0148    0.031436  1.164291
2  user_101  (item_5,)     item_4   0.0100    0.079618  1.137398
3  user_101  (item_1,)     item_6   0.0136    0.028887  1.094205
4  user_101  (item_1,)    item_30   0.0108    0.022940  1.092366

In [208]:
df_merged = pd.merge(recs, clientes, on='user_id', how='outer')
#df_merged['source_rec'] = np.where(df_merged['consequent'].notna(), 'apriori', np.nan)
df_merged['source_rec'] = df_merged['consequent'].apply(
    lambda x: 'apriori' if pd.notna(x) else None
)
df_merged = df_merged[['user_id', 'consequent', 'source_rec']].rename(columns={'consequent': 'rec'})

In [209]:
df_merged

      user_id      rec source_rec
0    user_101   item_2    apriori
1    user_101  item_25    apriori
2    user_101   item_4    apriori
3    user_101   item_6    apriori
4    user_101  item_30    apriori
..        ...      ...        ...
749  user_494      NaN       None
750  user_495      NaN       None
751  user_496      NaN       None
752  user_498      NaN       None
753  user_499      NaN       None

[754 rows x 3 columns]

In [210]:
df_recs_preenchido = df_merged.groupby('user_id').apply(completar_recomendacoes).reset_index(drop=True)

In [211]:
df_recs_preenchido

      user_id      rec    source_rec
0      user_1   item_2  top products
1      user_1  item_25  top products
2      user_1  item_32  top products
3     user_10   item_2  top products
4     user_10  item_25  top products
...       ...      ...           ...
1495  user_98  item_25  top products
1496  user_98  item_32  top products
1497  user_99   item_2  top products
1498  user_99  item_25  top products
1499  user_99  item_32  top products

[1500 rows x 3 columns]

In [212]:
df_completo = pd.merge(df_recs_preenchido, clientes, on='user_id', how='left')
df_completo = pd.merge(df_completo, produtos, left_on='rec', right_on='item_id', how='left')

In [213]:
df_output = df_completo[['user_id','nome','documento','telefone','uf','cluster','item_id','item_desc','source_rec']].rename(columns={'item_desc': 'rec_desc', 'item_id': 'rec_id'})

In [214]:
df_output.head()

,user_id,nome,documento,telefone,uf,cluster,rec_id,rec_desc,source_rec
0,user_1,Leonardo Lima,154.171.609-44,(15) 65524-5576,SC,SILVER,item_2,Tiodicarbe,top products
1,user_1,Leonardo Lima,154.171.609-44,(15) 65524-5576,SC,SILVER,item_25,Spiromesifen,top products
2,user_1,Leonardo Lima,154.171.609-44,(15) 65524-5576,SC,SILVER,item_32,Buprofezina,top products
3,user_10,Olivia Rocha,929.861.623-60,(89) 67039-6637,RR,SILVER,item_2,Tiodicarbe,top products
4,user_10,Olivia Rocha,929.861.623-60,(89) 67039-6637,RR,SILVER,item_25,Spiromesifen,top products

In [215]:
df_output.to_csv('recomendacoes.csv', index=False)

## Adicionando informações dos Clientes

In [216]:
df_recomendacoes = pd.read_csv("recomendacoes.csv")

In [217]:
# Remover duplicatas para ter uma lista única de clientes
df_clientes_unicos = df_recomendacoes[['user_id', 'nome', 'documento', 'telefone', 'uf', 'cluster']].drop_duplicates().reset_index(drop=True)

In [218]:
# Listas de componentes de nomes de empresas de agronegócio
prefixos_fazenda = ['Fazenda', 'Sítio', 'Chácara', 'Agropecuária', 'Granja', 'Cooperativa']
nomes_compostos = ['Esperança', 'São João', 'Boa Vista', 'Horizonte', 'Verde', 'Ouro', 'Progresso', 'Lider']
sufixos = ['& Filhos', 'LTDA', 'EIRELI', 'Agro', 'Rural', 'Comércio']

def gerar_nome_empresa(nome_pessoa):
    """Gera um nome de empresa/fazenda mais realista para o agronegócio."""
    
    prefixo = random.choice(prefixos_fazenda)
    nome = random.choice(nomes_compostos)
    
    partes_nome = nome_pessoa.split()
    if len(partes_nome) > 1:
        sobrenome = partes_nome[-1]
        nome_completo = f"{prefixo} {nome} {random.choice(['do', 'da'])} {sobrenome}"
    else:
        nome_completo = f"{prefixo} {nome}"

    if random.random() < 0.2: 
        nome_completo += f" {random.choice(sufixos)}"
        
    return nome_completo.replace('Da Pessoa', '')

In [219]:
# Aplicar a função para criar a coluna de Nome da Empresa
df_clientes_unicos['nome_empresa'] = df_clientes_unicos['nome'].apply(lambda x: gerar_nome_empresa(x))

In [220]:
# Lista de UF e Regiões para mapeamento (pode ser expandida)
regioes_map = {
    'MT': 'Centro-Oeste', 'MS': 'Centro-Oeste', 'GO': 'Centro-Oeste',
    'BA': 'Nordeste', 'PI': 'Nordeste', 'PR': 'Sul', 'SP': 'Sudeste', 'PE': 'Nordeste', 'RR': 'Norte', 'RN': 'Nordeste', 'PA': 'Norte'
}

In [221]:
# Listas realistas para amostragem no agronegócio
cidades_centro_oeste = ['Sorriso', 'Lucas do Rio Verde', 'Campo Grande', 'Rondonópolis', 'Goiânia']
culturas = ['Soja', 'Milho', 'Algodão', 'Cana-de-Açúcar', 'Café', 'Trigo']
tipos_solo = ['Latossolo Vermelho', 'Argissolo', 'Latossolo Amarelo', 'Neossolo', 'Terra Roxa']
pragas = ['Lagarta', 'Ferrugem', 'Percevejos', 'Nematoides', 'Cigarrinha']
safra_principal = ['Out-Mar', 'Set-Fev', 'Nov-Abr', 'Abr-Ago']

In [222]:
def gerar_dados_agronomicos(row):
    """Gera dados realistas e randômicos de agronegócio para um único cliente."""
    
    # 1. Responsável e Email 
    # O nome da pessoa original ('nome' em df_clientes_unicos) é o Responsável
    responsavel = row['nome'] 
    
    # Simula um Email simples baseado no nome da empresa
    email_base = row['nome_empresa'].lower().replace(' ', '').replace('&', '').replace('ltda', '').replace('eireli', '')
    email = f"{email_base}@{random.choice(['agrocorp', 'fazenda', 'ruraltec'])}.com.br"
    
    # 2. Localização
    uf = row['uf']
    regiao = regioes_map.get(uf, 'Outra')
    cidade = random.choice(cidades_centro_oeste) if regiao == 'Centro-Oeste' else f'Cidade {uf}'

    # 3. Dados Agronômicos
    num_culturas = random.randint(1, 2)
    culturas_selecionadas = " / ".join(random.sample(culturas, num_culturas))

    # Área total (ajustada pelo cluster: Diamond deve ter áreas maiores)
    multiplicador = {'DIAMOND': 1.5, 'GOLD': 1.2, 'SILVER': 1.0, 'BRONZE': 0.8}.get(row['cluster'], 1.0)
    area_total = int(np.round(random.uniform(500, 2500) * multiplicador, -2))
    
    praga_comum = " / ".join(random.sample(pragas, 2)) if random.random() < 0.7 else random.choice(pragas)

    return pd.Series({
        'responsavel': responsavel,
        'email': email,
        'cidade': cidade,
        'regiao': regiao,
        'culturas': culturas_selecionadas,
        'area_total': area_total,
        'tipo_solo': random.choice(tipos_solo),
        'praga_comum': praga_comum,
        'safra_principal': random.choice(safra_principal)
    })

In [223]:
# Aplica a função de geração de dados ao DataFrame de clientes únicos
novas_colunas_df = df_clientes_unicos.apply(gerar_dados_agronomicos, axis=1)

In [224]:
# Junta as novas colunas ao DataFrame de clientes
# Move a coluna 'nome' (nome da pessoa) para ser o 'responsavel'
df_clientes = pd.concat([df_clientes_unicos.drop(columns=['nome']), df_clientes_unicos['nome_empresa'], novas_colunas_df], axis=1)

In [225]:
# Renomear a coluna 'nome_empresa' para 'nome', e 'nome' original para 'responsavel'
df_clientes = df_clientes.rename(columns={'nome_empresa': 'nome', 'nome': 'responsavel'})

In [226]:
# Reordena as colunas para seguir o exemplo fornecido pelo usuário e garantir a ordem no Streamlit
colunas_finais = ['user_id', 'nome', 'responsavel', 'documento', 'telefone', 'email', 
                  'cidade', 'uf', 'regiao', 'culturas', 'cluster', 'area_total', 
                  'tipo_solo', 'praga_comum', 'safra_principal']
df_clientes = df_clientes[colunas_finais]

In [227]:
# --- 3. Exibir o resultado final e salvar ---
print("DataFrame Final de Clientes (df_clientes) com dados randômicos de Agronegócio:")
print(df_clientes.head())

DataFrame Final de Clientes (df_clientes) com dados randômicos de Agronegócio:
    user_id                            nome                            nome  \
0    user_1  Agropecuária Boa Vista da Lima  Agropecuária Boa Vista da Lima
1   user_10          Chácara Verde da Rocha          Chácara Verde da Rocha
2  user_100      Granja São João do Almeida      Granja São João do Almeida
3  user_101        Sítio Esperança do Souza        Sítio Esperança do Souza
4  user_102      Chácara Esperança da Costa      Chácara Esperança da Costa

     responsavel       documento         telefone  \
0  Leonardo Lima  154.171.609-44  (15) 65524-5576
1   Olivia Rocha  929.861.623-60  (89) 67039-6637
2   Igor Almeida  004.664.849-47  (21) 63928-4713
3  Daniela Souza  556.649.635-30  (48) 35581-2597
4  Eduardo Costa  233.132.947-39  (60) 69072-1605

                                        email     cidade  uf    regiao  \
0  agropecuáriaboavistadalima@ruraltec.com.br  Cidade SC  SC     Outra
1         chácaraverdedarocha@agrocorp.com.br  Cidade RR  RR     Norte
2      granjasãojoãodoalmeida@agrocorp.com.br  Cidade RN  RN  Nordeste
3       sítioesperançadosouza@agrocorp.com.br  Cidade MG  MG     Outra
4     chácaraesperançadacosta@agrocorp.com.br  Cidade RS  RS     Outra

                 culturas   cluster  area_total          tipo_solo  \
0         Algodão / Trigo    SILVER        2200  Latossolo Amarelo
1                   Milho    SILVER        1900  Latossolo Amarelo
2  Cana-de-Açúcar / Trigo      GOLD        1900         Terra Roxa
3            Milho / Soja  PLATINUM        2200           Neossolo
4          Cana-de-Açúcar   DIAMOND         800          Argissolo

               praga_comum safra_principal
0  Cigarrinha / Nematoides         Set-Fev
1     Lagarta / Nematoides         Set-Fev
2    Nematoides / Ferrugem         Out-Mar
3  Nematoides / Percevejos         Nov-Abr
4  Percevejos / Cigarrinha         Nov-Abr

In [228]:
# Salvar o resultado para uso posterior no Streamlit
df_clientes.to_csv("clientes_df.csv", index=False)
print("\nArquivo 'clientes_df.csv' gerado com sucesso na pasta do projeto.")

Arquivo 'clientes_df.csv' gerado com sucesso na pasta do projeto.